@font-face {
    font-family: 'Geosans';
    src: url(/fonts/GeosansLight.ttf) format("truetype")
}

@font-face {
    font-family: 'Geosans Oblique';
    src: url(/fonts/GeosansLight-Oblique.ttf) format("truetype")
}

body {
    overflow-x: hidden;
}